{% extends 'base.html' %}
<html>
    <head>
        <title>JOKERS</title>
    </head>
{% block page_name %}
    <h1 align="center">Articulos</h1>
{% endblock %}
{% block content %}
<div class="row well">
    <div class="container">
        <div class="row">
            {% for p in object_list.all %}
                <div class="col-md-4 well">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <table>
                                <tr>
                                    <td><h2 class="panel-title">Nombre: </h3></td>  
                                    <td><h3 class="panel-title">{{ p.nom_Articulo }}</h3></td>
                                </tr>
                                <tr>
                                    <td><h2 class="panel-title">Valor: $ </h3></td> 
                                    <td><h3 class="panel-title">{{ p.vr_Unitario }}</h3></td>
                                </tr>
                                <tr>
                                    <td><h2 class="panel-title">Stock: </h3></td> 
                                    <td><h3 class="panel-title">{{ p.stock }}</h3></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>   
        <a href="{% url 'narticulo' %}" class="btn btn-primary">Agregar nuevo articulo!</a>
    </div>
</div>
{% endblock %}
</html>