{% extends 'base.html' %}
{% block page_name %}
    <h1 align="center">Compras</h1>
{% endblock %}
{% block content %}
<div class="row well">
    <div class="container">
        <div class="row">
            {% for p in object_list.all %}
                <div class="col-md-4 well">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <table>
                                <tr>
                                    <td><h2 class="panel-title">N. Compra: </h3></td>  
                                    <td><h3 class="panel-title">{{ p.no_compra }}</h3></td>
                                </tr>
                                <tr>
                                    <td><h2 class="panel-title">Proveedor:  </h3></td> 
                                    <td><h3 class="panel-title">{{ p.proveedor }}</h3></td>
                                </tr>
                                <tr>
                                    <td><h2 class="panel-title">Fecha: </h3></td> 
                                    <td><h3 class="panel-title">{{ p.fech_Compra }}</h3></td>
                                </tr>
                                <tr>
                                    <td><h2 class="panel-title">N. Factura:</h3></td> 
                                    <td><h3 class="panel-title">{{ p.num_factura }}</h3></td>
                                </tr>
                                <tr>
                                    <td><h2 class="panel-title">Articulo:</h3></td> 
                                    <td><h3 class="panel-title">{{ p.articulo }}</h3></td>
                                </tr>
                                <tr>
                                    <td><h2 class="panel-title">Cantidad:</h3></td> 
                                    <td><h3 class="panel-title">{{ p.cantidad }}</h3></td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <a href="{% url 'ncompra' %}" class="btn btn-primary">Agregar nueva compra!</a>
    </div>
</div>
{% endblock %}